<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>playground!</h1>
        <!-- making for loop -->
        <ul>
            <% for(let i = 0 ; i< 6 ; i++) { %>
                <li>
                    <%= i %>
                </li>
            <% } %>
        </ul>
        <!-- condition if() and else-->
        <% if(true) { %> 
            <h1>true</h1>
        <% }else { %>
            <h1>false</h1>
        <%} %>
    </body>
    
</html>